<h4>Exam Configuration</h4>

<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-12">
            <div class="input-group">
                <h6 class="mb-0 col-1"> <label for="radio">Select Exam Type: <span class="text-danger">*</span></label></h6>
                <nz-radio-group [(ngModel)]="stp" (ngModelChange)="examTypeChange(stp)" class="col-11">
                    <label nz-radio nzValue="A">All Exam</label>
                    <label nz-radio nzValue="S">Specific Exam</label>
                </nz-radio-group>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pb-0">
            <div class="input-group">
                <h6 class="mr-5"> Select Exam <span class="text-danger">*</span></h6>
                <p-multiSelect [options]="listofExam" [(ngModel)]="selectedExamsList" [showToggleAll]="false"
                    placeholder="Select Exams" [disabled]="!stp" optionLabel="name"  display="chip" [showClear]="true"
                    [filter]="false" (onChange)="selectSpecificExams($event)" />
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-6 pt-0">
            <div class="input-group">
                <input class="mr-3" type="checkbox" [(ngModel)]="sel" (ngModelChange)="selectableChange()" id="ny"/>
                <label for="ny">Selectable</label>
            </div>
        </div>
        <div class="col-6 pt-0">
            <div class="input-group">
                <label for="maxExm" class="mr-3">Maximum Exam Allowed: <span class="text-danger">*</span></label>
                <p-inputNumber inputId="integeronly" [(ngModel)]="maxExamAllow" [max]="maxExamAllow" [disabled]="selectedExamsList.length == 0" (ngModelChange)="maximumExamLength($event)"/>
            </div>
        </div>
    </div>
    <div class="row ">
        @for(item of items;track item.id; let index = $index){
        <div class="col-12 pb-0">
            <div class="input-group">
                <label class="4" for="exam">E{{index+1}}</label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person"  [(ngModel)]="eachExamSelected[index]"
                    [nzSize]="'large'" (ngModelChange)="eachExamSelection(eachExamSelected,index)" class="col-6">
                    @for (data of selectedExamsList; track data.id) {
                    <nz-option class="form-control" [nzLabel]="data.name" [nzValue]="data.id"></nz-option>
                    }
                </nz-select>
            </div>
        </div>
        }
    </div>


    <button type="button" (click)="save()">Save</button>
</div>