.input-group{
    align-items: center;
    padding: 5px;
}
.row {
    margin: 10px 0;
}


label {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    margin-right: 15px;
    min-width: 50px; /* Ensures labels have consistent width */
}

.col-6 {
    padding-left: 10px;
    padding-right: 10px;
}

.nz-select {
    width: 100%; /* Full width for select box */
}

.nz-option {
    font-size: 14px;
    padding: 5px 10px; /* Padding inside the select options */
}

.form-control {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 8px;
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .col-6 {
        width: 100%; /* Make the select box full width on smaller screens */
    }

    label {
        margin-bottom: 5px;
    }
}
:host ::ng-deep .p-multiselect {
    min-width: 15rem;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
    min-width: 20rem;
}

:host ::ng-deep .multiselect-custom {
    .p-multiselect-label {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    .country-item-value {
        padding: .25rem .5rem;
        border-radius: 3px;
        display: inline-flex;
        margin-right: .5rem;
        background-color: var(--primary-color);
        color: var(--primary-color-text);

        img.flag {
            width: 17px;
        }
    }

    .country-placeholder {
        padding: 0.25rem;
    }
}